{% block header %}
    <header id="header">
        <div class="mobile-toggle">
            <div class="logo">
                <a href="{{ base_url == '' ? '/' : base_url }}">Finique</a>
            </div>
            <i id="mobile-menu-toggle" class="fa fa-bars"></i>
        </div>
        <div id="navbar">
            {% block header_extra %}{% endblock %}
            {% block header_navigation %}
                <ul class="navigation top">
                    {% for page in pages.children.visible %}
                        {% set current_page = (page.active or page.activeChild) ? 'active' : '' %}
                        <li class="{{ current_page }}">
                            <a href="{{ page.url }}">
                                {% if page.header.icon %}<i class="fa fa-{{ page.header.icon }}"></i>{% endif %}
                                {{ page.menu }}
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            {% endblock %}
        </div>
        <div id="logo">
            <h1 class="logo-heading">Лаба на 5 балов</h1>
        </div>
    </header>
{% endblock %}